:root {
  --ifm-color-primary: #93346b;
  --ifm-color-primary-dark: #842f60;
  --ifm-color-primary-darker: #7d2c5b;
  --ifm-color-primary-darkest: #67244b;
  --ifm-color-primary-light: #a23976;
  --ifm-color-primary-lighter: #a93c7b;
  --ifm-color-primary-lightest: #bd458b;
}

[data-theme='dark'] {
  --ifm-color-primary: #d762a7;
  --ifm-color-primary-dark: #d14999;
  --ifm-color-primary-darker: #cd3d92;
  --ifm-color-primary-darkest: #af2c79;
  --ifm-color-primary-light: #dd7bb5;
  --ifm-color-primary-lighter: #e187bc;
  --ifm-color-primary-lightest: #eaadd1;
  --ifm-background-color: #1b1820;
}